<footer> 
  <div class="footer-links-marquee">
    <div class="marquee-content">
      <a href="mailto:adeosunsemiat5003@gmail.com">
        <img src="/images/email.webp" alt="Email" />
      </a>
      <a href="https://linkedin.com/in/adeosun-semiat" target="_blank">
        <img src="/images/Linkedin.png" alt="LinkedIn" />
      </a>
      <a href="https://facebook.com/adeosun.semiat" target="_blank">
        <img src="/images/facebook.png" alt="Facebook" /> 
      </a>
      <a href="whatsapp:+2348104215003">
        <img src="/images/whatsapp.jpg" alt="WhatsApp" />
      </a>


    </div>
  </div>
  <p>&copy; 2025 Adeosun Semiat</p>
</footer>
