<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Adeosun Semiat | Virtual Assistant</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <header class="header">

    <img src="/images/logo.png" class="logo" alt="Logo">
    <header>
      <h1>Adeosun Semiat's Portfolio</h1>
      <p>Your Trusted and Dedicated Virtual Assistant &nbsp;|&nbsp; Educator &nbsp;|&nbsp; Entrepreneur &nbsp;|&nbsp; Junior Web Developer</p>
    </header>
    
<nav><br><br><br><br><br>
  <a href="/">Home</a>
  <a href="/contact">Contact</a>
  <a href="/testimonies">Testimonies</a>
  <a href="/certifications">Certifications</a>
  <a href="/portfolio">Portfolio</a>
</nav>

  </header>
