<%- include('partials/header') %>

<main class="container">
  <h1>My Certifications</h1>
  <ul>
   <br> <li>Virtual Assistant Certificate – ALX Africa (2024)</li><br> 
   <br> <li>Computer Literacy Training – Awori District College of Education</li><br> 
   <br> <li>Customer Service Workshop – King’s Court Ideal Limited</li><br> 
  </ul>
</main>

<%- include('partials/footer') %>
