<%- include('partials/header') %>

<main class="container">
  <h2>My Portfolio</h2>
  <ul class="portfolio-gallery">
    <li>
      <a href="/images/email management.jpg" target="_blank">
        <img src="/images/email management.jpg" alt="Email Management">
        <p>Email Management</p>
      </a>
    </li>
    <li>
      <a href="/images/Expense tracker.PNG" target="_blank">
        <img src="/images/Expense tracker.PNG" alt="Expense Tracker">
        <p>Expense Tracker</p>
      </a>
    </li>
    <li>
      <a href="/images/Research on Parks.PNG" target="_blank">
        <img src="/images/Research on Parks.PNG" alt="Research Task">
        <p>Research Task</p>
      </a>
    </li>
    <li>
      <a href="/images/Task Request.PNG" target="_blank">
        <img src="/images/Task Request.PNG" alt="Task Request">
        <p>Task Request</p>
      </a>
    </li>
    <li>
      <a href="/images/travel pack.PNG" target="_blank">
        <img src="/images/travel pack.PNG" alt="Travel Pack">
        <p>Travel Pack</p>
      </a>
    </li>
  </ul>
</main>

<%- include('partials/footer') %>
