<%- include('partials/header') %>

<main class="container">
  <h2>Client Testimonies</h2>
  <blockquote>"Adeosun is highly professional and dependable!" – Olaribigbe Lateefat CEO of Kiddies Fashion School </blockquote>
  <blockquote>"Her attention to detail is outstanding." – Ganiu Afolabi CEO of Fatykik Travel and Consultation </blockquote>
  <blockquote>"She helped us organize our admin process efficiently." – James Mathew CEO of ISMOTEC </blockquote>
</main>

<%- include('partials/footer') %>
